.jumbotron {
	background-color: #ff3f34;
	color: #fff;
	padding: 100px ;
	text-align: center;
}

.brand-icon {
	font-size: 100px
}

.container-1 {
	padding: 50px;
}

.row {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 40px 16px; 
  }
  
 
.card {
	width: 100%;
	height: 250px; /* Fixed card height */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #ddd;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 16px;
	text-align: center;
	transition: transform 0.2s ease-in-out;
	overflow: hidden; /* Ensures no overflow content */
  }
  
  .card:hover {
	transform: scale(1.05);
	/* box-shadow: 0 2px 4px #9c988e; */
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .card-img {
	width: 150px; /* Fixed image width */
	height: 150px; /* Fixed image height */
	object-fit: cover; /* Ensures image fits within the dimensions */
	border-radius: 50%; /* Circular image */
  }
  
  .card-body h5 {
	font-size: 1rem;
	margin: 0;
  }
  
  /* .img-fluid {
	max-width: 100%;
	height: auto;
	border-radius: 50%;
  } */
  
  @media (min-width: 992px) {
	.row {
	  grid-template-columns: repeat(4, 1fr);
	}
  }
  
  @media (max-width: 991px) and (min-width: 768px) {
	.row {
	  grid-template-columns: repeat(3, 1fr); 
	}
  }
  
  @media (max-width: 767px) { 
	.row {
	  grid-template-columns: repeat(2, 1fr);
	}
  }
  
  @media (max-width: 575px) { 
	.row {
	  grid-template-columns: 1fr; 
	}
  }
  